{
	email {$CADDY_ACME_EMAIL}
}

avitosha.timurgilyazov.ru {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	handle_path /storage/* {
		reverse_proxy minio:9000 {
			header_up Host {upstream_hostport}
			header_up X-Real-IP {remote_host}
		}
	}

	@backend path /api/* /swagger /swagger/* /health/* /healthz
	reverse_proxy @backend api-gateway:8080 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}

	reverse_proxy frontend:80 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}
