@use '../../../helpers' as h;

.room-drag-overlay {
  display: grid;
  width: h.rem(110px);
  height: h.rem(110px);
  place-items: center;
  padding: h.rem(6px);
  border: h.rem(1px) solid h.$color-primary;
  border-radius: h.$radius-medium;
  background: rgb(255 255 255 / 94%);
  box-shadow: h.$shadow-card;
  cursor: grabbing;

  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
